get '/' do
  "<h1 style="font-family: arial;">Sinatra has taken the stage</h1><br>
	<p>You'll find this file (app.rb) at /var/www/vhosts/default_site/public</p>
	<p>edit me and then /etc/init.d/nginx restart</p>
	"
end